<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= message.title %></h2>
    <div class="content">
      <p><%= message.body %></p>
    </div>
    <a class="delete" data-doc="<%= message._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
    <a class="update" href="/messages/edit/<%= message._id %>">
    <img src="/upd.svg" alt="update icon"></a>
  </div>
  
  

  <%- include("./partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/messages/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = '/')
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>