<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="messages content">
    <h2>All Messages</h2>

    <% if (messages.length > 0) { %>
      <% messages.forEach(message => { %>
        <a class="single" href="/messages/<%= message._id %>">
          <h3 class="title"><%= message.title %></h3>
          <p class="snippet"><%= message.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no messages to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>